ErrorDocument 403 ./
deny from all
<Files "./">
allow from all
</Files>
<Files "index.php">
allow from all
</Files>
<Files "list.php">
allow from all
</Files>
<Files "save.php">
allow from all
</Files>
<Files "cookie.php">
allow from all
</Files>
<Files "qrCode.png">
allow from all
</Files>
<Files "recup.php">
allow from all
</Files>
<Files "favicon.png">
allow from all
</Files>
<Files "Haikus.apk">
allow from all
</Files>